/* styles.css */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    background-image: url("kitchen.jpg");
}

header {
    background-color:regba(255, 99, 71, 0.5);
    padding: 10px;
    text-align: center;
}

form {
    margin: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@import "stylez.css";
